<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>
    {% block listado_clientes %}
    {% endblock %}

    {% block form_cliente %}
    {% endblock %}

    {% block form_editar_cliente %}
    {% endblock %}

    {% block baja_cliente %}
    {% endblock %}

    {% block listado_clientes_inactivos %}
    {% endblock %}

    {% block restaurar_cliente %}
    {% endblock %}
</body>
</html>