{% extends 'index.html' %}

{% block listado_clientes %}
    <h2>Listado de Clientes activos</h2>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
        </tr>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>
                        <a href="{% url 'editar_cliente' cliente.pk %}">Editar</a>
                        <a href="{% url 'baja_cliente' cliente.pk %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
            {% endif %}
            <span>Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}</span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock listado_clientes %}