{% extends 'index_servicio.html' %}

{% block listado_servicios %}
    <h2>Listado de Servicios activos</h2>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        <tbody>
            {% for servicio in servicios %}
                <tr>
                    <td>{{ servicio.nombre }}</td>
                    <td>{{ servicio.descripcion }}</td>
                    <td>${{ servicio.precio|floatformat:2 }}</td>
                    <td>
                        <a href="{% url 'editar_servicio' servicio.pk %}">Editar</a>
                        <a href="{% url 'baja_servicio' servicio.pk %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
            {% endif %}
            <span>Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}</span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock listado_servicios %}